.page {
  width: 100%;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  max-width: 730px;
  height: 220px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  display: flex;
  align-items: center;
  bottom: 0;
  margin-left: 64px;
  z-index: 3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.header__subtitle {
  margin-top:0;
  margin-bottom:0;
  width: 338px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  display: block;
  margin-top: 100px;
  justify-content: center;
}

.two-columns {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  display: block;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraf {
  margin-top: 30px;
}

.digits {
  display: block;
  margin-top: 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  display: block;
}
.section-subtitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  width: 1100px;
  margin: auto auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
  padding-left:0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  display: block;
}
.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom:0;
}

.feynman {
  display: block;
  padding-top: 100px;
  min-height: 890px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-origin: initial;
  background-clip: initial;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  display: block;
}
.feynman__subtitle {
  text-align: center;
  width: auto;
  height: auto;
  margin: 70px auto 0 auto;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
}

.kaufman {
  display: block;
  background-color: #1f1f1f;
  padding: 90px 0 90px 0;
  position: relative;
  overflow: hidden;
  font-size: 24px;
}

.section-title_theme_dark {
  color: #fff;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 0;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
}

.table__cell_theme_dark {
  color: #fff;
  margin: 80px 0 0 0;
  width: 200px;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  overflow: hidden;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin:auto;
  min-height:250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__author {
  margin: 18px 0 18px 0;
  color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  display: block;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: #fff;
}

.footer__social-icon {
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}

